body{
  margin: 0;
  font-family:'Montserrat',sans-serif ;
}
.Card-direccion{
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.Service{
  margin-bottom: 50px;
}

@media screen and (max-width:800px){
  .Card-direccion{
    flex-direction: column;
  }
}
@media screen and (max-width:310px){
  .Header-btn{
    padding: 10% 10% 10% 10%;
  }
  .Header-flex{
    text-align: center;
  }
  .Header-logo{
    width: 90%;
  }
  .Section-name{
    font-size: 30px;
  }
  .card{
    width: 200px;
  }
  .card-title{
    font-size: 15px;
  }
  .card-info{
    font-size: 10px;
  }
}